body {
    font-family : Verdana;
    font-size : 80%;
}

input {
    color : green;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 22px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.subscribe {
    background-color: blue;
    border: none;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

a:link {
    color: green;
    text-decoration: none; 
}
a:visited {
    color: green;
    text-decoration: none; 
}
a:hover {
    color: grey;
    text-decoration: none; 
}
a:active {
    color: green;
    text-decoration: none; 
}
