@(message: String)
@main("Welcome to REsSys") {
    <h1>ADMIN PANEL:</h1>
    <h3>@message</h2>
    <h2><a href='@routes.EventController.newEvent()'>Add events</a></h2>
    <h2><a href='@routes.EducatorController.newEducator()'>Add educator</a></h2>
    <h2><a href='@routes.EventController.listEvents()'>Show all events</a></h2>
    <h2><a href='@routes.EventController.showReportPanel()'>Generate raprot</a></h2>
    <h2><a href='@routes.SessionController.logout()'>Logout</a></h2>
    }
