@import models.events._
@import models.Users._

@(events: Set[Event],
  user: User,
  educators: List[Educator],
  recipients: List[Recipient],
  kinds: Map[String, String],
  statuses: Map[String, String],
  message: String,
  idForm: Form[forms.IdForm],
  userFilterForm: Form[forms.DataToFilterEventsByUserForm],
  adminFilterForm: Form[forms.DataToFilterEventsByAdminForm])(implicit request: RequestHeader, messagesProvider: MessagesProvider)

@main("Welcome to Play") {
    <h1>ALL EVENTS:</h1>
    <h3>@message</h3>
    @displayEvents(events, user, educators, recipients, kinds, statuses, idForm, userFilterForm, adminFilterForm) {
        <h2><a href='@routes.UserController.userPanel()'>Back to panel</a></h2>
        }
        }

