@import models.events._
@import models.reports._

@(message: String, report: reports.Report)

@main("Welcome to REsSys") {
    <div>@message</div>
    @report match {
        case r: SimpleReport => {
            @displaySimpleReport(r)
        }
    }
    <h2><a href='@routes.UserController.userPanel()'>Back to panel</a></h2>
    }

    @displaySimpleReport(report: SimpleReport)  = {
        <div>All events: @report.countEvents</div>
        <div>Events for individuals: @report.eventsForIndividuals.size</div>
        <div>Events for institutions: @report.eventsForInstitutions.size</div>
        <div>@displayEvents(report.eventsBySubscribers)</div>
        <div>@displaySalaries(report.computeSalary)</div>
        }

        @displayEvents(events: List[EventForIndividual]) = {
            <br>
            Events for individuals by subscribers:
            @for(event <- events) {
                <div>@event.title -> @event.subscribers.size</div>
            }
        }

        @displaySalaries(salaries: Map[Educator, BigDecimal]) = {
            <br>
            Salaries for educators:
            @for((educator, salary) <- salaries) {
                <div>@educator.name -> @salary</div>
            }
        }
