@import models.events._
@import models.Users._

@(events: Set[Event],
  user: User,
  educators: List[Educator],
  recipients: List[Recipient],
  kinds: Map[String, String],
  statuses: Map[String, String],
  idForm: Form[forms.IdForm],
  userFilterForm: Form[forms.DataToFilterEventsByUserForm],
  adminFilterForm: Form[forms.DataToFilterEventsByAdminForm]
)(content: Html)(implicit request: RequestHeader, messagesProvider: MessagesProvider) 
	  @user match {
		  case u: Individual => {
        Filter events for @u.name:
        @displayDataForUser(events, user, educators, recipients, idForm, userFilterForm)
		}
		  case u: Institution => {
        Filter events for @u.repName from @u.name:
        @displayDataForUser(events, user, educators, recipients, idForm, userFilterForm)
		}
		  case u: Admin => {
        Filter events for admin:
        @displayDataForAdmin(events, user, educators, recipients, kinds, statuses, idForm, adminFilterForm)
		}
	}

    @content


@*
 * Methods for displaying forms and events for user: Individual and Institution and admin.
 *@

@displayDataForUser(
events: Set[Event],
user: User,
educators: List[Educator],
recipients: List[Recipient],
idForm: Form[forms.IdForm],
userFilterForm: Form[forms.DataToFilterEventsByUserForm]) = {
    <div>
        @helper.form(action = helper.CSRF(routes.EventController.filter())) {
            @helper.inputDate(userFilterForm("from"))
            @helper.inputDate(userFilterForm("to"))
            @helper.inputText(userFilterForm("keyword"))
            @helper.select(
                userFilterForm("educator"),
                options = for(educator <- educators) yield (educator.email -> educator.name),
                '_label -> "educator")
            @helper.inputRadioGroup(
                userFilterForm("recipient"),
                options = for(recipient <-  recipients) yield (recipient.code -> recipient.description),
                '_label -> "set children age")
            <button type="submit" class="button">filter events</button>
            }
    </div>
			  @for(event <- events) {
            <div>
                <div>Date: @event.dateFormat(event.startDate)</div>
                <div>Title: @event.title</div>
                <div>Description: @event.description</div>
                <div>Educator: @event.educator.name</div>
                <div>For who: @event.recipientCategory.description</div>
                <div>Where: @event.room</div>
                <div>
                    @helper.form(action = helper.CSRF(routes.EventController.subscribe(event.id.toString))) {
                        <input type="hidden" name='@idForm("id").label' value='@idForm("id").value'>
                        <button type="submit" class="button">submit event</button>
                </div>
            </div>
			      }
            }
            }

@displayDataForAdmin(
events: Set[Event],
user: User,
educators: List[Educator],
recipients: List[Recipient],
kinds: Map[String, String],
statuses: Map[String, String],
idForm: Form[forms.IdForm],
adminFilterForm: Form[forms.DataToFilterEventsByAdminForm]) = {

    <div>
        @helper.form(action = helper.CSRF(routes.EventController.filter())) {
            @helper.inputDate(adminFilterForm("from"), '_label -> "Start date")
            @helper.inputDate(adminFilterForm("to"), '_label -> "End date")
            @helper.inputText(adminFilterForm("keyword"))
            @helper.select(
                adminFilterForm("educator"),
                options = for(educator <- educators) yield (educator.email -> educator.name),
                '_label -> "educator")
            @helper.inputRadioGroup(
                adminFilterForm("kind"),
                options = kinds.toList,
                '_label -> "set kind of event")
            @helper.inputRadioGroup(
                adminFilterForm("status"),
                options = statuses.toList,
                '_label -> "set status of event")
            @helper.inputRadioGroup(
                adminFilterForm("recipient"),
                options = for(recipient <-  recipients) yield (recipient.code -> recipient.description),
                '_label -> "set children age")
            <button type="submit" class="button">filter events</button>
            }
    </div>
    <div>
			  @for(event <- events) {
            @event match {
                case forIndividual: EventForIndividual => {
                    <div>For individual event:</div>
                    <div>Start: @forIndividual.dateFormat(event.startDate)</div>
                    <div>End: @forIndividual.dateFormat(event.endDate)</div>
                    <div>Title: @forIndividual.title</div>
                    <div>Description: @forIndividual.description</div>
                    <div>Educator: @forIndividual.educator.name</div>
                    <div>Educator email: @forIndividual.educator.email</div>
                    <div>Educator phone: @forIndividual.educator.phone</div>
                    <div>Salary: @forIndividual.salary</div>
                    <div>For who: @forIndividual.recipientCategory.description</div>
                    <div>Where: @forIndividual.room</div>
                    <div>Max participants: @forIndividual.maxParticipants</div>
                    <div>Free places: @forIndividual.freePlaces</div>
                    <div>Info: @forIndividual.info</div>
                    <div>Is canceled: @forIndividual.isCanceled</div>
                }
                case forInstitution: EventForInstitution => {
                    <div>For institution event:</div>
                    <div>Start: @forInstitution.dateFormat(event.startDate)</div>
                    <div>End: @forInstitution.dateFormat(event.endDate)</div>
                    <div>Title: @forInstitution.title</div>
                    <div>Description: @forInstitution.description</div>
                    <div>Educator: @forInstitution.educator.name</div>
                    <div>Educator email: @forInstitution.educator.email</div>
                    <div>Educator phone: @forInstitution.educator.phone</div>
                    <div>Salary: @forInstitution.salary</div>
                    <div>For who: @forInstitution.recipientCategory.description</div>
                    <div>Where: @forInstitution.room</div>
                    <div>Max participants: @forInstitution.maxParticipants</div>
                    <div>Free places: @forInstitution.freePlaces</div>
                    <div>Subscriber: @forInstitution.subscriberToString</div>
                    <div>How many participants will come: @forInstitution.howManyParticipants</div>
                    <div>Average age: @forInstitution.averageAge</div>
                    <div>Some additional data: @forInstitution.additionalData</div>
                    <div>Info: @forInstitution.info</div>
                    <div>Is canceled: @forInstitution.isCanceled</div>
                }
            }
            @helper.form(action = helper.CSRF(routes.EventController.delete(event.id.toString))) {
                <input type="hidden" name='@idForm("id").label' value='@idForm("id").value'>
                <button type="submit" class="button">delete event</button>
                }
                @helper.form(action = helper.CSRF(routes.EventController.cancel(event.id.toString))) {
                    <input type="hidden" name='@idForm("id").label' value='@idForm("id").value'>
                    <button type="submit" class="button">cancel event</button>
                    }
			          }
    </div>
    }
