@(message: String, userForm: Form[forms.UserForm], loginForm: Form[Login])(implicit request: RequestHeader, messagesProvider: MessagesProvider)

@main("Welcome to REsSys") {
<h1>Welcome to Reservation app Hallo!</h1>

<h3>@message</h3>

@helper.form(action = helper.CSRF(routes.SessionController.login())) {
@helper.inputText(loginForm("email"))
@helper.inputPassword(loginForm("password"))
<button type="submit" class="button">login</button>
}

@helper.form(action = helper.CSRF(routes.UserController.addUser())) {
@helper.inputText(userForm("email"))
@helper.inputPassword(userForm("password"))
@helper.inputText(userForm("name"))
@helper.inputText(userForm("phone"))
@helper.inputText(userForm("instName"))
@helper.inputText(userForm("instAddress"))
@helper.inputText(userForm("instKind"))
<button type="submit" class="button">add user</button>
}
}
