@(message: String, educatorForm: Form[Educator])(implicit request: RequestHeader, messagesProvider: MessagesProvider)
@main("Welcome to REsSys") {
<h3>@message</h3>
    @helper.form(action = helper.CSRF(routes.EducatorController.addEducator())) {
    @helper.inputText(educatorForm("name"))
    @helper.inputText(educatorForm("email"))
    @helper.inputText(educatorForm("phone"))
        <button type="submit">add educator</button>
        }
        }

<h2><a href='@routes.UserController.userPanel()'>Back to panel</a></h2>
