@(educators: List[Educator], recipients: List[Recipient], message: String, eventForm: Form[forms.EventFromAdminForm])(implicit request: RequestHeader, messagesProvider: MessagesProvider)
@main("Welcome to REsSys") {
    <h1>ADD EVENT MASTER:</h1>
    <h3>@message</h3>
    @helper.form(action = helper.CSRF(routes.EventController.addEvent())) {
        @helper.inputDate(eventForm("startDate"), '_label -> "Start date")
        @helper.inputText(eventForm("startTime"), '_label -> "Start hour")
        @helper.inputDate(eventForm("endDate"), '_label -> "End date")
        @helper.inputText(eventForm("endTime"), '_label -> "End hour")
        @helper.inputText(eventForm("title"), '_label -> "Title")
        @helper.inputText(eventForm("description"), '_label -> "Description")
        @helper.inputRadioGroup(
            eventForm("kind"),
            options = Seq("forindividual" -> "For Individual", "forinstitution" -> "For Institution"),
            '_label -> "set type")
        @helper.select(
            eventForm("educator"),
            options = for(educator <- educators) yield (educator.email -> educator.name),
            '_label -> "set educator")
        @helper.inputText(eventForm("salary"))
        @helper.inputRadioGroup(
            eventForm("recipientCategory"),
            options = for(recipient <-  recipients) yield (recipient.code -> recipient.description),
            '_label -> "set children age")
        @helper.inputText(eventForm("room"), '_label -> "Room of workshop")
        @helper.textarea(eventForm("info"), '_label -> "Additional info for organisers")
        @helper.select(
            eventForm("max"),
            options = for(num <- 1 to 50) yield (num.toString -> num.toString),
            '_label -> "set max number of participants"
        )
        <button type="submit" class="button">add event</button>
        }
        <h2><a href='@routes.UserController.userPanel()'>Back to panel</a></h2>
        }
