@(message: String, reportForm: Form[forms.DataToGenerateReport])(implicit request: RequestHeader, messagesProvider: MessagesProvider) 

@main("Welcome to REsSys") {
    Hello in raport generator
    @helper.form(action = helper.CSRF(routes.EventController.generateReport())) {
        @helper.inputDate(reportForm("from"))
        @helper.inputDate(reportForm("to"))
        <button type="submit" class="button">Generate raport</button>
    }

    <h2><a href='@routes.UserController.userPanel()'>Back to panel</a></h2>
            }
