@import models.events._
@import models.Users._

@(event: Event, user: User, dataForm: Form[forms.AdditionalDataFromUserForm])(implicit request: RequestHeader, messagesProvider: MessagesProvider)

@main("Welcome to Play") {

    <h2>Add additional data to subscribed event</h2>
    @helper.form(action = helper.CSRF(routes.EventController.addDataForSubscribe(event.id))) {
        @helper.select(
            dataForm("howManyParticipants"),
            options = for(i <- 1 to 50) yield (i.toString -> i.toString),
            '_label -> "set number of childern")
        @helper.select(
            dataForm("averageAge"),
            options = for(age <- 2 to 17) yield (age.toString -> age.toString),
            '_label -> "set avarage age of participants")
        @helper.textarea(dataForm("additionalData"))
        <button type="submit" class="button">subscribe event</button>
        }
        <h2><a href='@routes.UserController.userPanel()'>Back to panel</a></h2>
        }
