@import models.events._
@import models.Users._

@(events: Set[Event], user: User, message: String, idForm: Form[forms.IdForm])(implicit request: RequestHeader, messagesProvider: MessagesProvider)

@main("Welcome to Play") {
    <h3>@message</h3>
		<div>
        @for(event <- events) {
            <div>Date: @event.startDate</div>
            <div>Title: @event.title</div>
            <div>Description: @event.description</div>
            <div>Educator: @event.educator.name</div>
            <div>For who: @event.recipientCategory.description</div>
            <div>
                @helper.form(action = helper.CSRF(routes.EventController.unsubscribe(event.id.toString))) {
                    <input type="hidden" name='@idForm("id").label' value='@idForm("id").value'>
                    <button type="submit" class="button">unsubscribe event</button>
                    }
            </div>
			      }
    </div>
    <h2><a href='@routes.UserController.userPanel()'>Back to panel</a></h2>
    }
