@import models.Users._

@(user: User, message: String, individualForm: Form[forms.IndividualUpdateForm], institutionForm: Form[forms.InstitutionUpdateForm])(implicit request: RequestHeader, messagesProvider: MessagesProvider)
@main("Welcome to REsSys") {
    <h3>@message</h3>
    @displayUserData(user)

    <br><b>Changing password not implemented</b>

    <h2><a href='@routes.UserController.userPanel()'>Back to panel</a></h2>
    }

    @displayUserData(user: User) =  {
	      @user match {
		        case u: Individual => {
                <table>
                <tr>
                <td>
                Fill form to change your data:
                @helper.form(action = helper.CSRF(routes.UserController.updateUser())) {
                    @helper.inputText(individualForm("name"))
                    @helper.inputText(individualForm("phone"))
                    <button type="submit" class="button">update your data</button>
                    </td>
                    </tr>
                    </table>
		            }
            }
		        case u: Institution => {
                <table>
                <tr>
                <td>
                Fill form to change your data:
                @helper.form(action = helper.CSRF(routes.UserController.updateUser())) {
                    @helper.inputText(institutionForm("repName"))
                    @helper.inputText(institutionForm("phone"))
                    @helper.inputText(institutionForm("name"))
                    @helper.inputText(institutionForm("address"))
                    @helper.inputText(institutionForm("kind"))
                    <button type="submit" class="button">update your data</button>
                    </td>
                    </tr>
                    </table>
		            }
		        }
	      }
    }
