@import models.Users._

@(user: User, message: String)
@main("Welcome to REsSys") {
    <h1>USER PANEL:</h1>
    <h3>@message </h3>
    <h2><a href='@routes.EventController.listEvents()'>Show all events</a></h2>
    <h2><a href='@routes.EventController.listSubscribedEvents(user.email)'>Show my events</a></ub2>
    <h2><a href='@routes.UserController.userAccount(user.email)'>Show my account</a></ub2>
    <h2><a href='@routes.SessionController.logout()'>Logout</a></h2>
}
